* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("Images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-logo {
    display: flex;
}

ul{
    display: flex;
}

li{
    display: flex;
    color: black;
    font-weight: bold;
    padding: 20px;
}

ul a{
    text-decoration: none;
    display: flex;
}

.navbar {
    display: flex;
    height: 100%;
    width: 32vmin;
    border-top: 5px solid black;
    justify-content: space-between;
    position: fixed;
    background-color: grey;
    width: 100vw;
    height: 15vh;
    padding: 20px;
}

li:hover {
    font-weight: 100;
    color: white;
    background-color: black;

}

form .search button{
    float: right;
}
.search{
    display: flex;
    padding: 16px;
    /* width: 50px; */
    /* margin-right: 100px; */
}

input{
    width: 300px;
    border-radius: 5px ;
    border: 2px solid black;
}

button{
    margin-left: -15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    
}