*{
  box-sizing: border-box;
}

html{

}

body{
  background-color: bisque;
  margin: 0;
}

.main-header-logo
{
  background-color: black;
  text-align: center;
  color: rgba(207, 142, 51, 0.956);
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}

.nav-search-bar{
  float: right;
  padding-right: 2%;
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;*/
}

.main-header{
  background-color: aquamarine;
  padding-top: 14px;
  padding-bottom: 16px;
}


.main-header a{
  color: black;
  padding: 14px 16px;
}

.main-header a:hover{
  background-color: brown;
  color: black;
}

.main-header a.active{
  background-color: deepskyblue;
  color: white;
}


